<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Praktikum CI/CD - Syifa Maziya Hibbi</p>
    <p>Aplikasi berhasil dijalankan menggunakan Docker dan GitHub Actions.</p>
  </body>
</html>
